*{
    margin: 6px 0;
    padding: 0;
}
body{
    background-color: rgb(220, 236, 236);
}
header{
    background-color: rgb(30, 117, 216);
    padding: 12px;
    color: white;
    text-align: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.h1{
    text-align: center;
    background-color: rgb(44, 219, 53);
    color: rgb(255, 255, 255);
    border: 0 11px solid rgb(0, 0, 0);
}
.comment-box{
    background-color: rgb(255, 255, 255);
    padding: 18px;
    margin: 12px 0;
    width: 550px;
    border-radius: 3px;
    border-left: 29px solid rgb(13, 187, 50);
    box-shadow: 0 2px 8px -2px;
}
.todo-box{
    background-color: rgb(255, 255, 255);
    padding: 18px;
    margin: 12px 0;
    width: 550px;
    border-radius: 3px;
    border-left: 29px solid rgb(25, 48, 175);
    box-shadow: 0 2px 8px -2px;
}