/* aling */
.aling-left{text-align: left;}
.aling-center{text-align: center;}
.aling-right{text-align: right;}
/* style  */
.bold{font-weight: bold;}
.italic{font-style: italic;}
.underline{text-decoration: underline;}
